/* General Styling */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #4b484a;
  color: white;
}

.navbar h1 {
  margin: 0;
  font-size: 2em;
}

.navbar nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.navbar nav a:hover {
  color: #c7c7c7;
}

/* Admin Functions */
.admin-functions {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin-top: 20px;
  
}

.function-card {
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 220px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.function-card h3 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.function-card p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.button {
  text-decoration: none;
  padding: 8px 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

/* Analytics Section */
.analytics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.analytic-box {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 200px;
  margin: 10px 10px;
}

.analytic-box h3 {
  margin: 0;
  font-size: 1.25rem;
}

.analytic-box p {
  font-size: 1rem;
  margin: 10px 0 0;
}

/* Attendance and Leave Chart */
.attendance-chart {
  margin: 20px 0;
  text-align: center;
  padding: 0 15px;
}

.attendance-chart h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Employee Profiles Table */
.container {
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 0.9rem;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.employee-profile {
  display: none;
}

.employee-profile h2 {
  font-size: 1.25rem;
}

.employee-profile p {
  margin: 5px 0;
}

.employee-profile span {
  font-weight: bold;
}

table tr:hover .employee-profile {
  display: block;
}

/* Status Colors */
td:nth-child(4) {
  text-align: center;
}

td:nth-child(4):nth-of-type(odd) {
  background-color: #e8f8e8; /* Active employee */
}

td:nth-child(4):nth-of-type(even) {
  background-color: #f8e8e8; /* On Leave */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
   display: flex;
  }

  .navbar h1 {
    font-size: 1.8em;
  }

  .navbar nav a {
    font-size: 0.9em;
    margin-left: 0;
    margin-top: 5px;
  }

  .admin-functions {
    flex-wrap: wrap;
    align-items: center;
  }
 

  .analytics {
    flex-direction: column;
    align-items: center;
  }

  table th, table td {
    font-size: 0.8rem;
  }
}
