/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6b6b69;
    color: white;
}

.navbar h1 {
    margin: 0;
    font-size: 2.5em;
}

.navbar nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.navbar nav a:hover {
    color: #c7c7c7;
}

/* Container Styling */
.container {
    margin: 30px auto;
    width: 80%;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-image-container {
    flex-shrink: 0;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #004080;
}

.employee-info {
    flex-grow: 1;
}

.employee-info h2 {
    margin-top: 0;
    font-size: 2em;
}

.employee-info p {
    font-size: 1.2em;
}

/* Button Container Styling */
.button-container {
    margin-top: 15px;
    display: flex;
    gap: 10px;

}

.info-button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #004080;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.info-button:hover {
    background-color: #002a50;
}
