body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #707070;
    padding: 10px 20px;
}

.navbar h1 {
    color: white;
    font-size: 34px;
}

.navbar nav {
    display: flex;
    gap: 20px;
}

.navbar nav a {
    text-decoration: none;
    color: rgb(218, 221, 221);
   
}


.container {
    padding: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 16px;
    color: #333;
}

form select, form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 1024px) {
    .navbar h1 {
        font-size: 30px;
    }

    .navbar nav a {
        font-size: 16px;
    }

    .container {
        padding: 15px;
    }

    form {
        max-width: 450px;
    }

    form label {
        font-size: 14px;
    }

    form select, form textarea {
        font-size: 14px;
    }

    form button {
        padding: 8px 16px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .navbar h1 {
        font-size: 28px;
    }

    .navbar nav {
        display: flex;
        gap: 10px;
    }

    .navbar nav a {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    form {
        width: 100%;
        padding: 15px;
    }

    form label {
        font-size: 14px;
    }

    form select, form textarea {
        font-size: 14px;
    }

    form button {
        padding: 8px 16px;
    }
}

@media screen and (max-width: 480px) {
    .navbar h1 {
        font-size: 24px;
    }

    .navbar nav a {
        font-size: 12px;
    }

    .container {
        padding: 5px;
    }

    form {
        width: 100%;
        padding: 10px;
    }

    form label {
        font-size: 12px;
    }

    form select, form textarea {
        font-size: 12px;
    }

    form button {
        padding: 6px 12px;
    }
}
